# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.DS_Store
.idea/

/shelf/
/workspace.xml
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
.xml
.iml